.heart-shape{
  position: relative;
  width: 40px;
  height: 40px;
  left:50%;
  margin-top: 60px;
  margin-right: 20px
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgb(230, 18, 14);
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 40px;
  height: 40px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgb(230, 18, 14);
}
.heart-shape:before{
  bottom: 0px;
  left: -20px;
}
.heart-shape:after{
  top: -20px;
  right: 0px;
}